@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.card-container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  /* max-width: 1200px; */
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: max-content;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 0px 2px 2px rgb(166, 206, 244);
}

.tour-info {
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
}

.tour-price {
  display: flex;
  color: rgb(72, 235, 145);
  align-items: center;
  font-size: 1.2rem;
  gap: 0.05rem;
  font-weight: 600;
  font-family: "poppins";
  margin-top: 0.2rem;
}

.tour-name {
  font-weight: 600;
  font-family: "poppins";
  font-size: 1.5rem;
}

.readmore {
  color: #12b0e8;
  cursor: pointer;
}

.remove-button {
  padding: 0.2rem;
  background-color: #d2a0bc;
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
  border: 1px solid #b4161b;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.remove-button:hover {
  background-color: rgba(255, 0, 0, 0.806);
  color: white;
  transition: all 200ms linear;
}

.tour-image {
  width: 380px;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: 0px 0px 10px 0.5px rgb(158, 38, 8);
}

.noTour-UI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  padding: 0.6rem;
  margin: 2rem auto;
  text-align: center;
  border: 5px dashed rgb(20, 105, 215);
  max-width: 30%;
  border-radius: 10px;
}

.noTour-heading {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem;
}

.refresh-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.2rem;
  border: 2px solid rgb(7, 6, 6);
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #53dc95;
  color: black;
  font-weight: 600;
}
